#global
  .content.container.conception
    h1(class="title" data-sr="")= data.title
    h2(class="subtitle" data-sr="wait 0.5s")= data.subtitle
    .dev
      i
      p(data-sr="wait 0.7s") site en développement...
    span(class="console none")= data.console
    div(class="flag" data-sr="wait 1s enter bottom hustle 10px")
